.section-about-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin: 50px 5%;
    min-height: 200px;
    background-color: $white1;
}

.section-about-info{
    @include flex(row, center, center);
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.about-info-column{
    margin: 0px 10px;
}