.section-about-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    margin: 50px 5%;
    min-height: 200px;
    background-color: $white1;
}

.section-about-info{
    @include flex(row, center, center);
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.about-info-column{
    margin: 0px 10px;
}

@media (width > 768px) {
    #section-about-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }

    #our-games-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}

@media (500px < width < 768px) {
    #section-about-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "ch-one ch-two" "ch-three ch-three";
        align-items: start;
    }

    #our-games-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
    }

    #ch-one{
        grid-area: ch-one;
    }

    #ch-two{
        grid-area: ch-two;
    }

    #ch-three{
        grid-area: ch-three;
    }
}


@media (width < 500px) {
    #section-about-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
    }

    #our-games-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
    }
}