.our-games-title{
    font-size: 40px;
}

.our-games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  $white1;

}

.our-games-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:  $white1;
    padding: 0px 40px;
    margin: 50px 50px;
}

.section-games{
    @include flex(row, center, center);
    justify-content: center;
    align-items: center;
}

.games-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.games-title{
    margin-top: 10px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}